.descriptions h2 {
  padding-bottom: 0.3em;
  padding-left: 20px;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.descriptions p {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
