body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import "functions";
@import "my-variables.sass";

// http://www.pictaculous.com/
$lightyellow: #E0DBA8;
$yellow: #FFCF44;
$lightblue: #32A1F0;
$blue: #1D6DDB;

$primary: $blue;
$info: $blue;
$success: $green;
$warning: $yellow;

$link: $primary;
$body-background: #EAEAEA;
$background: #EAEAEA;
@import "bulma";

////////////////////////////////////////////////
////////////////////////////////////////////////
// 4. Lists and maps


$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 !default

// 4. Lists and maps after overriding bulma's variables from
// utilities/variables.sass
$colors: (white: ($white, $black), black: ($black, $white), light: ($light, $light-invert), dark: ($dark, $dark-invert), primary: ($primary, $primary-invert), info: ($info, $info-invert), success: ($success, $success-invert), warning: ($warning, $warning-invert), danger: ($danger, $danger-invert)) !default
