body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import "functions";
@import "my-variables";

// http://www.cssdrive.com/imagepalette/index.php
$green: #b2c19c;

// http://www.pictaculous.com/
$lightyellow: #E0DBA8;
$yellow: #FFCF44;
$lightblue: #32A1F0;
$blue: #1D6DDB;

$primary: $yellow;
$info: $blue;
$success: $green;
$warning: $yellow;

$link: $primary;

@import "bulma";

// Took this from variables.sass (copy and pasted it into src/)
// it is at the end of the bulma variables file but it wasn't using my overridden vals
// 4. Lists and maps
$colors: (white: ($white, $black), black: ($black, $white), light: ($light, $light-invert), dark: ($dark, $dark-invert), primary: ($primary, $primary-invert), info: ($info, $info-invert), success: ($success, $success-invert), warning: ($warning, $warning-invert), danger: ($danger, $danger-invert)) !default
